@model MyBudgetPlanner.Models.MyExpensePlan

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AfterLoginLayout.cshtml";
}

<div class="content">
    <div class="card">
        <div class="card-body">
            <h1>Edit</h1>

            <h4>MyExpensePlan</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="UniqueId" />
                         <div class="form-group">
                            <label asp-for="ExpenseTags" class="control-label"></label>
                            <input asp-for="ExpenseTags" class="form-control" />
                            <span asp-validation-for="ExpenseTags" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Discription" class="control-label"></label>
                            <input asp-for="Discription" class="form-control" />
                            <span asp-validation-for="Discription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Amount" class="control-label"></label>
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsMandatory" /> @Html.DisplayNameFor(model => model.IsMandatory)
                            </label>
                        </div> 
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

