@model MyBudgetPlanner.Models.MyDailyExpence
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AfterLoginLayout.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q==" crossorigin="anonymous"
      referrerpolicy="no-referrer" />
<div class="content">
    <div class="card">
        <div class="card-body">
            <h4>MyDailyExpence</h4>
            <hr />

            <form asp-action="Create">
                <input type="hidden" asp-for="UniqueId" />    
                <input type="hidden" asp-for="CreatedDate" />    
                <input type="hidden" asp-for="LastUpdatedDate" />    
                <input type="hidden" asp-for="UserId" />

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label asp-for="ExpenseTagIds" class="control-label">Expense Area</label>
                        <select asp-for="ExpenseTagIds" class="form-control selectpicker" multiple>
                            @foreach (var items in ViewBag.MyExpensePlans)
                            {
                                <option value="@items.UniqueId">@items.ExpenseName - @items.Description</option>
                            }
                        </select>
                        <span asp-validation-for="ExpenseTagCommaList" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" rows="5" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label asp-for="Amount" class="control-label"></label>
                            <input type="number" min="1" asp-for="Amount" autocomplete="off" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label asp-for="ExpenceDate" class="control-label">Date</label>
                            <div class="input-group">
                                <input type="date" asp-for="ExpenceDate" autocomplete="off" class="form-control" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsMandatory" /> @Html.DisplayNameFor(model => model.IsMandatory)
                    </label>
                </div>


                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>


            <div>
                <a asp-action="Index">Back to List</a>
            </div>

        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js" integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
