
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AfterLoginLayout.cshtml";
    List<MyExpensePlan> expenses = ViewBag.ExpensePlan;
    List<Income> incomes = ViewBag.Income;
    List<Income> monthlyIncome = ViewBag.Income;
    ViewBag.activeTabName = "Dashboard";
    string text = string.Format(new CultureInfo("hi-IN"), "{0:c}", decimal.Parse(23345.ToString(), CultureInfo.InvariantCulture));
    string[] colors = new[] { "tile-red", "tile-pink", "tile-cyan", "badge bg-danger", "tile-aqua", "tile-red", "tile-pink", "tile-cyan", "tile-aqua", "tile-red", "tile-pink", "tile-cyan", "tile-aqua", "tile-red", "tile-pink", "tile-cyan", "tile-aqua", "tile-red", "tile-pink", "tile-cyan", "tile-aqua" };
   
}

    <!DOCTYPE html>
<html lang="en">

<!-- Mirrored from uxliner.com/adminkit/demo/material/ltr/index-analytics.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 May 2020 19:07:45 GMT -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Adminkit - Multipurpose bootstrap 4.0 admin templates</title>
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- v4.0.0 -->
<link rel="stylesheet" href="~/UiTemplate/AdminTemp/dist/bootstrap/css/bootstrap.min.css">

<!-- Favicon -->
<link rel="icon" type="image/png" sizes="16x16" href="~/UiTemplate/AdminTemp/dist/img/favicon-16x16.png">
              
<link rel="stylesheet" href="~/UiTemplate/AdminTemp/AdminTemp/dist/css/style.css">
<link rel="stylesheet" href="~/UiTemplate/AdminTemp/dist/css/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="~/UiTemplate/AdminTemp/dist/css/et-line-font/et-line-font.css">
<link rel="stylesheet" href="~/UiTemplate/AdminTemp/dist/css/themify-icons/themify-icons.css">
<link rel="stylesheet" href="~/UiTemplate/AdminTemp/dist/css/simple-lineicon/simple-line-icons.css">

<link href="~/UiTemplate/AdminTemp/dist/css/style.css" rel="stylesheet" />

<!-- Chartist CSS -->
<link rel="stylesheet" href="~/UiTemplate/AdminTemp/dist/plugins/chartist-js/chartist.min.css">
<link rel="stylesheet" href="~/UiTemplate/AdminTemp/dist/plugins/chartist-js/chartist-plugin-tooltip.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .container {
            display: flex;
        }

        .labels {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start; /* Align items to the start (left) */
        }
        .chart-container {
            flex: 2;
            padding: 20px;
        }

    </style>
</head>
<body class="skin-blue sidebar-mini">
    <div class="content">
        @if (monthlyIncome == null || !monthlyIncome.Any())
        {
            <div class="row">
                <div class="col-lg-12 col-xs-6 m-b-3">
                    <div class="card">
                        <div class="card-body">
                            <div role="alert" class="alert alert-success">
                                <strong>
                                    Add your Monthly Income......
                                </strong>
                                <br />
                                <button id="IncomeManual" class="btn btn-secondery">Manual Enter</button>
                                <button id="IncomeMasterPlan" class="btn btn-danger">Copy From MasterPlan</button>
                                <button id="IncomePreviousMonth" class="btn btn-primary">Copy From Previous Month</button>
                                <br />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
           
        }
        @if (!expenses.Any() && monthlyIncome.Any())
        {
            <div class="row">
                <div class="col-lg-12 col-xs-6 m-b-3">
                    <div class="card">
                        <div class="card-body">
                            <div role="alert" class="alert alert-success">
                                <strong>
                                    Add your Expense Plans For this Month
                                </strong>
                                <br />
                                <button id="Manual" class="btn btn-secondery">Manual Enter</button>
                                <button id="MasterPlan" class="btn btn-danger">Copy From MasterPlan</button>
                                <button id="PreviousMonth" class="btn btn-primary">Copy From Previous Month</button>
                                <br />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-lg-6 col-xs-6 m-b-3">
                <div class="card">
                    <div class="card-body">
                        <canvas id="MyBarChartCanvas">Bar chart </canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-6 m-b-3">
                <div class="card">
                    <div class="card-body">
                        <div class="container">
                            <div class="labels">
                                <!-- Label data will be displayed here -->
                            </div>
                            <div class="chart-container">
                                <canvas id="MyPieChartCanvas">Pie chart</canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

       
        <div class="row">
            <div class="col-lg-4">
                <div class="small-box bg-orange">
                    <div class="inner">
                        <div class="text-left">
                            <h2>Total Income</h2>
                        </div>
                        <div class="text-right m-t-2">
                            <h1><sup><i class="ti-arrow-up"></i></sup> ₹ </h1>
                        </div>
                        <div class="m-b-2">
                            <span class="text-white">35%</span>
                            <div class="progress bg-lightblue">
                                <div class="progress-bar bg-white" role="progressbar" style="width: 35%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-darkblue text-white">
                    <div class="inner">
                        <div class="text-left">
                            <h2>Total Sales</h2>
                            <h6>This Month Income</h6>
                        </div>
                        <div class="text-right m-t-2">
                            <h1><sup><i class="ti-arrow-up"></i></sup> $2500</h1>
                        </div>
                        <div class="m-b-2">
                            <span class="text-white">55%</span>
                            <div class="progress bg-lightblue">
                                <div class="progress-bar bg-white" role="progressbar" style="width: 55%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <div class="text-left">
                            <h2>Total Profit</h2>
                            <h6>This Year Income</h6>
                        </div>
                        <div class="text-right m-t-2">
                            <h1><sup><i class="ti-arrow-up"></i></sup> $8500</h1>
                        </div>
                        <div class="m-b-2">
                            <span class="text-white">75%</span>
                            <div class="progress bg-lightblue">
                                <div class="progress-bar bg-white" role="progressbar" style="width: 75%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-lg-4 m-b-3">
                <div>
                    <div class="soci-wid-box bg-twitter m-b-3">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item">
                                    <div class="col-lg-12 text-center">
                                        <div class="sco-icon"><i class="ti-twitter-alt"></i></div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio praesent libero sed cursus ante.</p>
                                        <p class="text-italic pt-1">- John Doe -</p>
                                    </div>
                                </div>
                                <div class="carousel-item active">
                                    <div class="col-lg-12 text-center">
                                        <div class="sco-icon"><i class="ti-twitter-alt"></i></div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio praesent libero sed cursus ante.</p>
                                        <p class="text-italic pt-1">- John Doe -</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="col-lg-12 text-center">
                                        <div class="sco-icon"><i class="ti-twitter-alt"></i></div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio praesent libero sed cursus ante.</p>
                                        <p class="text-italic pt-1">- John Doe -</p>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="soci-wid-box bg-facebook m-b-3">
                        <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item">
                                    <div class="col-lg-12 text-center">
                                        <div class="sco-icon"><i class="ti-facebook"></i></div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio praesent libero sed cursus ante.</p>
                                        <p class="text-italic pt-1">- John Doe -</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="col-lg-12 text-center">
                                        <div class="sco-icon"><i class="ti-facebook"></i></div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio praesent libero sed cursus ante.</p>
                                        <p class="text-italic pt-1">- John Doe -</p>
                                    </div>
                                </div>
                                <div class="carousel-item active">
                                    <div class="col-lg-12 text-center">
                                        <div class="sco-icon"><i class="ti-facebook"></i></div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio praesent libero sed cursus ante.</p>
                                        <p class="text-italic pt-1">- John Doe -</p>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 m-b-3">
                <div class="box box-info">
                    <div class="box-header with-border p-t-1">
                        <h3 class="box-title text-black">Latest Orders</h3>
                        <div class="pull-right"> <a href="#">Invoice Summary <i class="fa fa-long-arrow-right"></i></a> </div>
                    </div>
                    <!-- /.box-header -->
                    
                    <!-- /.box-body -->
                    <div class="box-footer clearfix"> <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a> <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a> </div>
                    <!-- /.box-footer -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <script src="~/js/mybarchart.js"></script>
</body>
</html>
